<!--<li>-->
	{{id}}. {{burger_name}}

	<button class="devour-it" data-id="{{id}}" data-devoured="{{devoured}}">Devour It!</button>

	<!--<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>-->
<!--</li>-->